button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  background-color: #fff;
}

.colorBox {
  border: 1px solid rgb(1, 109, 211);
  padding: 20px;
  margin-bottom: 20px;
}

input {
  margin-right: 15px;
  padding: 10px 15px;
}

.CounterBox {
  border: 1px solid rgb(1, 109, 211);
  padding: 20px;
  margin-bottom: 20px;
}

.FriendsBox {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.FriendsBox:hover {
  background-color: #ddd;
}

.friendName {
  width: 28%;
  text-align: left;
}

.friend {
  width: 18%;
  text-align: left;
}

.InputBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.InputBox input {
  width: 33%;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
