button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  background-color: #fff;
}

.colorBox {
  border: 1px solid rgb(1, 109, 211);
  padding: 20px;
  margin-bottom: 20px;
}

input {
  margin-right: 15px;
  padding: 10px 15px;
}

.CounterBox {
  border: 1px solid rgb(1, 109, 211);
  padding: 20px;
  margin-bottom: 20px;
}

.FriendsBox {
  display: flex;
  justify-content: space-between;
}

.FriendsBox div {
  width: 33%;
  text-align: left;
  padding-left: 9%;
}

.InputBox {
  display: flex;
  justify-content: space-between;
}

.InputBox input {
  width: 33%;
}
